[Unit]
Description=Lasith's Scheduled Downloader for Linux
StartLimitInterval=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
WorkingDirectory=
ExecStart=

[Install]
WantedBy=multi-user.target
