{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static',filename='js/index.js') }}"></script>
<title>Vortex</title>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <legend class="mb-5">Add New Download Job</legend>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="youtube-tab" data-bs-toggle="tab" data-bs-target="#youtube"
                type="button" role="tab" aria-controls="youtube" aria-selected="true">Youtube</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="direct-tab" data-bs-toggle="tab" data-bs-target="#direct" type="button"
                role="tab" aria-controls="direct" aria-selected="false">Direct Download</button>
        </li>
    </ul>
    <div class="tab-content p-5" id="myTabContent">
        <div class="tab-pane fade show active" id="youtube" role="tabpanel" aria-labelledby="youtube-tab">
            <!-- Youtube Form -->
            <div class="form-group mb-3">
                <label for="yt-url">Youtube Video URL</label>
                <input type="text" class="form-control" name="yt-url" id="yt-url" required>
                <div class="invalid-feedback">
                    A valid url is required
                </div>
            </div>
            <button class="btn btn-primary" id="btn-yt-fetch" onclick="fetchYTdata()">Fetch Data</button>
            <div style="display: none;" class="row mt-5" id="youtube-details">
                <!-- youtube details -->
                <div class="col-6">
                    <!-- Thumbnail -->
                    <img class="mw-600 img-fluid" id="yt-thumbnail" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg"
                        class="rounded float-start">
                    <blockquote class="blockquote mw-600">
                        <p id="yt-title"></p>
                    </blockquote>
                </div>
                <div class="col-6">
                    <!-- Video Details -->
                    <h3 class="mb-3">Available Options</h3>
                    <div class="row">
                        <div class="col-auto mb-3">
                            <div class="row">
                                <div class="col-auto form-group form-item">
                                    <label for="yt-format">Format</label>
                                    <select id="yt-format" class="form-select" aria-label="Default select example">
                                        <option value="auto" selected>Auto</option>
                                    </select>
                                </div>
                                <div class="col-auto form-group form-item">
                                    <label for="yt-preset">Preset</label>
                                    <select id="yt-preset" class="form-select" aria-label="Default select example">
                                        <option value="auto" selected>Auto</option>
                                    </select>
                                </div>
                                <div id="yt-size-container" class="col-auto">
                                    <label for="yt-size">Size</label>
                                    <p id="yt-size">N/A</p>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-auto">
                            <div class="checkbox form-item">
                                <label>
                                    <input type="checkbox" value="yt-offpeak" id="yt-offpeak" name="yt-offpeak" checked>
                                    Download in off peak hours
                                </label>
                            </div>
                        </div>
                    </div>
                    
                    
                    <button class="btn btn-primary mt-5" id="btn-yt-add-job" onclick="addYTdownloadJob()">Add Download Job</button>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="direct" role="tabpanel" aria-labelledby="direct-tab">
            <!-- Direct Download Form -->
            <div class="form-group mb-3">
                <label for="dd-url">Download URL</label>
                <input type="text" class="form-control" name="dd-url" id="dd-url" required>
                <div class="invalid-feedback">
                    A valid url is required
                </div>
            </div>
            <div class="checkbox form-item mb-3">
                <label>
                    <input type="checkbox" value="dd-offpeak" id="dd-offpeak" name="dd-offpeak" checked />
                    Download in off peak hours
                </label>
            </div>
            <button class="btn btn-primary" id="btn-dd-job" onclick="AddDirectDownload()">Add Download Job</button>
        </div>
    </div>
</div>

<div class="container-fluid">
    <table class="table" id="table-jobs">
        <thead class="table-dark bg-primary-color">
          <tr>
            <th scope="col">#</th>
            <th scope="col">URL</th>
            <th scope="col">Title</th>
            <th scope="col">Off Peak</th>
            <th scope="col">Type</th>
            <th scope="col">Status</th>
            <th scope="col">Format</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody id="table-body">
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
</div>

{% endblock %}